.heading {
  text-align: center;
  font-size: 28px;
  margin-bottom: 30px;
  color: #959595;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  max-width: 1240px;
  margin: 0 auto;
  padding: 0 15px;
  list-style: none;
}

.textHeading {
  margin-top: 200px;
  text-align: center;
  font-size: 18px;

  color: #4d4d4d;
}

.listItem {
  position: relative;
}

.btnForModal {
  min-width: 100px;
  font-size: 15px;
  line-height: 1;
  margin: 0;
  padding: 10px;
  outline: none;
  border: 0;
  border-radius: 5px;
  background-color: #b3382c;
  cursor: pointer;
  color: #fff;

  &:first-child {
    margin-right: 10px;
  }
}
