.container {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.btnForModal {
  min-width: 100px;
  font-size: 15px;
  line-height: 1;
  margin: 0;
  padding: 10px;
  outline: none;
  border: 0;
  border-radius: 5px;
  background-color: #b3382c;
  cursor: pointer;
  color: #fff;

  &:first-child {
    margin-right: 10px;
  }
}
