.listItemsFavorit {
  position: relative;
}

.starIcon {
  fill: #f8c660;
  width: 24px;
  height: 24px;

  &:hover {
    fill: #01bb01;
  }
}

.listItems {
  cursor: pointer;
}

.countFavorite {
  position: absolute;
  top: 11px;
  left: 10px;
  display: block;
  width: 13px;
  height: 13px;
  border-radius: 50%;
  font-size: 12px;
  font-weight: bold;
  background: #ffffff;
  color: rgb(10, 8, 8);
  text-align: center;
}
