.header {
  margin-bottom: 20px;
  padding: 15px 0;
  width: 100%;
  background: rgb(206, 206, 206);
}

.container {
  width: 1240px;
  margin: 0 auto;
  padding: 0 10px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.list {
  width: 80px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
