.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 100;
  display: flex;
  justify-content: center;
  align-items: center;
}

.bgColorModal {
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  cursor: pointer;
}

.container {
  width: 500px;
  position: relative;
  border-radius: 5px;
  z-index: 2;
  background: #e74c3c;
}

.headerModal {
  padding: 20px 30px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: rgba(0, 0, 0, 0.1);
}

.headerTitle {
  margin: 0;
  font-size: 20px;
  line-height: 1;
  color: #fff;
  font-family: sans-serif;
}

.btnClose {
  width: 30px;
  height: 30px;
  position: relative;
  margin: 0;
  padding: 0;
  outline: none;
  border: none;
  background: transparent;
  cursor: pointer;

  &::after,
  &::before {
    content: "";
    position: absolute;
    height: 1px;
    width: 100%;
    top: 50%;
    left: 0;
    background: rgb(255, 255, 255);
    border-radius: 5px;
  }

  &::after {
    transform: (rotate(45deg));
  }
  &::before {
    transform: (rotate(-45deg));
  }
}

.modalBody {
  padding: 30px 40px;
  font-size: 15px;
  line-height: 2;
  color: #fff;
  text-align: center;
}

.footerBtn {
  text-align: center;
  margin-bottom: 20px;
}
